body {
	background-color: #2E3440;
}

@font-face {
    font-family: "Victor Mono";
    src: url("/home/mario/.local/share/fonts/fixed-width/VictorMono/VictorMono-Regular.ttf");
}

.greeting {
	font-size: 20px;
	font-family: "Victor Mono";
	color: #ECEFF4;
	text-align: center;
}

.news {
	display: grid;
	grid-template-columns: repeat(3, 150px); 
	grid-template-rows: repeat(2, 100px);
	gap: 20px; 
}

.bookmark {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #3B4252;
	border-radius: 10px;
	transition: ;
}

.bookmark:hover {
}


.bookmark-content {
	display: flex;
	align-items: center;
	color: #ECEFF4;
	font-family: "Victor Mono Medium";
	font-size: 18px;
}

#ansa {
	grid-column-start: 1;
	grid-column-end: 2;
}

#sole24 {
	grid-column-start: 2;
	grid-column-end: 3;
}

#youtube {
	grid-column-start: 3;
	grid-column-end: 4;
}

#monkeytype {
	grid-column-start 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.bookmark {
	
}


#bookmarks-main {
	width: 100%;
	display: flex;
	justify-content: center; 
}
