* {
  --background:           #FBF1C7;
  --bg-element:           #F9F5d7;
  --bg-element-hover:     #EBDBB2;
  --text:                 #1D2021;
  --text-hover:           var(--red);

  --red:                  #FB4934;
  --green:                #B8BB26;
  --yellow:               #FABD2F;
  --blue:                 #83A598;
  --purple:               #D3869B;
  --aqua:                 #8EC07C;
  --orange:               #FE8019;
  --gray:                 #665C54;
}
